.nav {
  display: flex;
  margin: 0;
  justify-content: space-around;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  border-radius: 7px;

  h4 {
    display: block;
  }

  .nav-links { 
    display: flex;
    justify-content: space-around;
    li {
      display: block;
      margin: 20px;

      a{
        text-decoration: none;
      }
    }
  }
}

.container {
  .color-box {
    display: flex;
    margin: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
      background-color: #333;
      color: white;
      padding: 30px;
      border-radius: 6px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      display: block;
      font-size: 33px;
      font-style: oblique;

      span {
        color: yellow;
      }
    }

    button {
      margin: 10px;
      display: block;
      padding: 10px;
      background-color: red;
      color: #f2f2f2;
      cursor: pointer;
      border-radius: 3px;
      border: none;
    }
  }
}